*,
*:before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "SVN";
  src: url("/assets/font/SVN-Friends Forever.otf");
}
.wrapper .wrapper-container {
  width: 1366px !important;
  margin: 0px auto;
}
.wrapper .wrapper-container .header {
  background-color: #e7272d;
}
.wrapper .wrapper-container .header .header-content {
  height: 40px;
  width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .wrapper-container .header .header-content .header-content__address {
  display: flex;
}
.wrapper .wrapper-container .header .header-content .header-content__address i {
  width: 12px;
  height: 15px;
  color: #fff;
  margin-right: 4px;
}
.wrapper .wrapper-container .header .header-content .header-content__address p {
  font-size: 14px;
}
.wrapper .wrapper-container .header .header-content .header-content__contact {
  display: flex;
  align-items: center;
}
.wrapper .wrapper-container .header .header-content .header-content__contact .i {
  width: 21px;
  height: 18px;
  color: #fff;
  margin-right: 6px;
}
.wrapper .wrapper-container .header .header-content .header-content__contact p {
  font-size: 15px;
  font-weight: 600;
}
.wrapper .wrapper-container .header .header-content .header-content__contact .header-content__contact--media {
  width: 186px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .wrapper-container .header .header-content .header-content__contact .header-content__contact--media::before {
  content: "";
  height: 20px;
  margin-left: 16px;
  border-right: 1px dashed #9d2727;
}
.wrapper .wrapper-container .header .header-content .header-content__contact .header-content__contact--media i {
  width: 16px;
  height: 16px;
}
.wrapper .wrapper-container .nav {
  background-color: white;
  height: 90px;
}
.wrapper .wrapper-container .nav .nav-content {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .wrapper-container .nav .nav-content .nav-content__tab {
  height: 36px;
  padding: 10px 8px;
  font-size: 15px;
  text-transform: uppercase;
}
.wrapper .wrapper-container .nav .nav-content .nav-content__tab div {
  display: flex;
}
.wrapper .wrapper-container .nav .nav-content .nav-content__tab div i {
  margin-right: 8px;
}
.wrapper .wrapper-container .nav .nav-content .nav-content__tab:hover {
  background-color: red;
}
.wrapper .wrapper-container .nav .nav-content .nav-content__tab + .icon {
  padding: 10px 0px;
}
.wrapper .wrapper-container .slider {
  background-image: url("/assets/img/slide.jpg");
  height: 523px;
  position: relative;
}
.wrapper .wrapper-container .slider .overlay {
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8));
}
.wrapper .wrapper-container .slider .slider-info {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .wrapper-container .slider .slider-info .slider-info__header {
  font-size: 72px;
  font-family: "Myriad Pro";
  letter-spacing: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.wrapper .wrapper-container .slider .slider-info .slider-info__slogan {
  margin-top: 20px;
  font-size: 38px;
  font-family: "SVN";
  word-spacing: 18px;
  letter-spacing: 4px;
  text-transform: none;
  text-shadow: 2px 1px 3px #000;
}
.wrapper .wrapper-container .slider .slider-info button {
  font-size: 16px;
  font-weight: 600;
  width: 228px;
  height: 48px;
  background-color: transparent;
  border: 4px solid #fff;
  margin-top: 28px;
  text-transform: uppercase;
}
.wrapper .wrapper-container .slider .slider-info .list-device {
  display: flex;
  width: 510px;
  justify-content: space-between;
  margin-top: 98px;
}
.wrapper .wrapper-container .slider .slider-info .list-device .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .wrapper-container .slider .slider-info .list-device .item div {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .wrapper-container .slider .slider-info .list-device .item p {
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper .wrapper-container .body {
  padding: 115px 80px;
  background-color: #eeeeee;
}
.wrapper .wrapper-container .body .body-intro {
  position: relative;
  display: flex;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left {
  padding-right: 76px;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left::after {
  content: "";
  display: block;
  height: 2px;
  width: 250px;
  border-top: 2px solid;
  margin-top: -42px;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left .body-intro__label {
  font-family: "UTM Beautiful Caps";
  color: rgb(231, 39, 45);
  font-size: 35px;
  position: absolute;
  top: -48px;
  left: -36px;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left .body-intro__header {
  font-size: 35px;
  font-weight: 600;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left .body-intro__sub-header {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.8;
  margin: 14px 0px;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left .body-intro__content {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
}
.wrapper .wrapper-container .body .body-intro .body-intro__left .body-intro__button {
  margin-top: 52px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.wrapper .wrapper-container .body .body-intro .body-intro__right {
  width: 543px;
  height: 251px;
  flex: none;
}
.wrapper .wrapper-container .body .body-intro .body-intro__right .body-intro__right-content {
  position: absolute;
  top: -24px;
}

/*# sourceMappingURL=style.css.map */
