*,
*:before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
img {
  display: block;
  max-width: 100%;
}
@font-face {
  font-family: "SVN";
  src: url("/assets/font/SVN-Friends\ Forever.otf");
}

@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("/assets/font/Myriad\ Pro\ Bold\ Condensed.ttf");
}
.wrapper {
  .wrapper-container {
    width: 1366px !important;
    margin: 0px auto;
    .header {
      background-color: #e7272d;
      .header-content {
        height: 40px;
        width: 1200px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-between;
        .header-content__address {
          display: flex;
          i {
            width: 12px;
            height: 15px;
            margin-right: 4px;
          }
          p {
            font-size: 14px;
          }
        }
        .header-content__contact {
          display: flex;
          align-items: center;
          .i {
            width: 21px;
            height: 18px;
            color: #fff;
            margin-right: 6px;
          }
          p {
            font-size: 15px;
            font-weight: 600;
          }
          .header-content__contact--media {
            width: 186px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::before {
              content: "";
              height: 20px;
              margin-left: 16px;
              border-right: 1px dashed #f39396;
            }
            i {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    .nav {
      background-color: white;
      height: 90px;
      .nav-content {
        width: 1200px;
        height: 100%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-content__tab {
          height: 36px;
          padding: 10px 8px;
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          div {
            display: flex;
            i {
              margin-right: 8px;
            }
          }
          &:hover {
            background-color: red;
            color: #fff;
            cursor: pointer;
          }
        }
        .nav-content__tab + .icon {
          padding: 10px 0px;
        }
      }
    }
    @keyframes changeBackground {
      0% {
        background-image: url("/assets/img/slide.jpg"); /* Thay thế 'image1.jpg' bằng đường dẫn của ảnh đầu tiên */
      }
      45% {
        background-image: url("/assets/img/slide.jpg"); /* Thay thế 'image2.jpg' bằng đường dẫn của ảnh thứ hai */
      }
      55% {
        background-image: url("/assets/img/slide2.png"); /* Thay thế 'image1.jpg' bằng đường dẫn của ảnh đầu tiên */
      }
      90% {
        background-image: url("/assets/img/slide2.png"); /* Thay thế 'image1.jpg' bằng đường dẫn của ảnh đầu tiên */
      }
      100% {
        background-image: url("/assets/img/slide.jpg"); /* Thay thế 'image1.jpg' bằng đường dẫn của ảnh đầu tiên */
      }
    }
    .slider {
      // background-image: url("/assets/img/slide.jpg");
      height: 523px;
      position: relative;
      animation: changeBackground 10s infinite;
      .overlay {
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8),
          transparent,
          rgba(0, 0, 0, 0.8)
        );
      }

      .slider-info {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-top: 26px;
        .slider-info__header {
          font-size: 72px;
          font-family: "MyriadPro-BoldCond";
          letter-spacing: 4px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .slider-info__slogan {
          margin-top: 20px;
          font-size: 38px;
          font-family: "SVN";
          word-spacing: 5px;
          letter-spacing: 4px;
          text-transform: none;
          text-shadow: 2px 1px 3px #000;
        }
        button {
          font-size: 16px;
          width: 228px;
          height: 48px;
          background-color: transparent;
          border: 2px solid #fff;
          margin-top: 28px;
          text-transform: uppercase;
          color: #fff;
        }
        .list-device {
          display: flex;
          width: 510px;
          justify-content: space-between;
          margin-top: 98px;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div {
              height: 70px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            p {
              text-transform: uppercase;
              font-weight: 600;
            }
          }
        }
      }
    }
    .body-info {
      padding: 115px 80px 70px 80px;
      background-color: #eeeeee;
      .body-intro {
        position: relative;
        display: flex;
        .body-intro__left {
          padding-right: 76px;
          &::after {
            content: "";
            display: block;
            height: 2px;
            width: 250px;
            border-top: 1px solid;
            margin-top: -42px;
          }
          .body-intro__label {
            font-family: "UTM Beautiful Caps";
            color: rgb(231, 39, 45);
            font-size: 35px;
            position: absolute;
            top: -48px;
            left: -36px;
          }
          .body-intro__header {
            font-size: 35px;
            font-weight: bold;
          }
          .body-intro__sub-header {
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            line-height: 1.8;
            margin: 14px 0px;
          }
          .body-intro__content {
            font-size: 14px;
            line-height: 2;
            text-align: justify;
            font-weight: 500;
            word-spacing: -1px;
          }
          .body-intro__button {
            margin-top: 52px;
            border: none;
            background-color: transparent;
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
          }
        }
        .body-intro__right {
          width: 543px;
          height: 251px;
          flex: none;
          .body-intro__right-content {
            position: absolute;
            top: -24px;
            .body-intro__right-boder {
            }
          }
        }
      }
    }
    .body-product {
      padding: 50px 80px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      .body-product__header {
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        p {
          color: #e7272d;
        }
      }
      span {
        line-height: 2;
        font-size: 14px;
        font-weight: 500;
      }
      .body-product__sepera {
        width: 50px;
        height: 1px;
        border-bottom: 1px solid;
        margin-top: 4px;
      }
      .body-product__list-product {
        width: 100%;
        margin-top: 48px;
        .col-4 {
          margin-bottom: 24px;
        }
        .body-product__list-product-content {
          position: relative;
        }
        .body-product__list-product-content-wrapper {
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%, -50%);

          .body-product__list-product-content-title {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }
          .body-product__list-product-content-price {
            font-size: 14px;
            color: #707070;
            margin-top: 10px;
            display: flex;
            .body-product__list-product-content-xprice {
              &::after {
                content: "";
                width: 100%;
                height: 1px;
                display: block;
                background-color: #707070;
                top: 1;
                margin-top: -14%;
                margin-left: 8%;
              }
            }
          }
        }
      }
      .body-product__button {
        width: 124px;
        height: 44px;
        background-color: #e7272d;
        color: #fff;
        border: none;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
